# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files
node_modules
img/canstockphoto3392789.jpg
img/alligator.psd
server.*
.idea
.DS_Store
